<div><img class="fondo" src="../../assets/imagenes/fondo-inicio.jpg"></div>
<!-- Material form login -->
<div class="contenedor">
    <div class="registro">

        <h5 class="card-header p-3 mb-2 bg-info text-white text-center py-4">
            <strong>Registrarse</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center">

                <!-- Nombre -->
                <div class="md-form">
                    <br>
                    <input required='' type='text'>
                    <label alt='Nombre (s)' placeholder='Nombre '></label>
                </div>

                <!-- Apellidos -->

                <div class="row">
                    <div class="col">
                        <input required='' type='text'>
                        <label alt='Apellido Paterno' placeholder='Apellido Paterno'></label>
                    </div>
                    <div class="col">
                        <input required='' type='text'>
                        <label alt='Apellido Materno' placeholder='Apellido Materno'></label>
                    </div>
                </div>

                <!-- Email -->
                <div class="md-form">
                    <input required='' type='text'>
                    <label alt='E-mail' placeholder='E-mail'></label>
                </div>

                <!-- Password -->
                <!-- Nombreusuario -->
                <div class="row">
                    <div class="col">
                        <input required='' type='text'>
                        <label alt='Nombre de usuario' placeholder='Nombre de usuario'></label>
                    </div>
                    <div class="col">
                        <input required='' type='password'>
                        <label alt='Contraseña' placeholder='Contraseña'></label>
                    </div>
                </div>

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input bg-info" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"><b>He leído y acepto los </b> &nbsp;</label>
                            <a href="">Términos y condiciones</a>
                        </div>
                    </div>
                    <!--<div>
               Forgot password 
              <a href=""> ¿Olvidaste tu contraseña?</a>
            </div>-->
                </div>

                <!-- Sign in button -->
                <button class="btn btn-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
            Registrarse
          </button>

            </form>
            <!-- Form -->

        </div>

    </div>
    <!-- Material form login -->
</div>