<!-- ============================================================== -->
<!-- INICIO FOOTER -->
<!-- ============================================================== -->
<footer class="pt-4 my-md-5 pt-md-5 border-top container-fluid" style="background: lightblue;">
    <div class="row">

        <div class="col-4 col-md-2" style="margin-left: 15%">
            <img class="mb-2" src="../../../assets/imagenes/educare.png" alt="" width="70" height="30">
            <small class="d-block mb-3 text-muted">&copy; 2019-2020
            </small>
        </div>

        <div class="col-6 col-md-3">
            <h6>Contacto</h6>
            <ul class="list-unstyled text-small">
                <li style="font-size: 14px"><i class="ti-map"></i> Prolongación Zaragoza 58, <br>Prados de la Capilla, <br>76176 Santiago de Querétaro, Qro. </li>
                <li style="font-size: 14px"><i class="ti-mobile"></i> 01 442 222 5444</li>
                <li style="font-size: 14px"><i class="ti-email"></i><a class="text-muted" href="#"> ventas@grupoeducare.com</a></li>
            </ul>
        </div>

        <div class="col-6 col-md-2">
            <h6>Síguenos</h6>
            <ul class="list-unstyled text-small">
                <li style="font-size: 14px"><i class="ti-twitter-alt"></i><a class="text-muted" href="#"> Twitter</a></li>
                <li style="font-size: 14px"><i class="ti-facebook"></i><a class="text-muted" href="#"> Facebook</a></li>
                <li style="font-size: 14px"><i class="ti-youtube"></i><a class="text-muted" href="#"> Youtube</a></li>
                <li style="font-size: 14px"><i class="ti-instagram"></i><a class="text-muted" href="#"> Instagram</a></li>
            </ul>
        </div>

        <div class="col-6 col-md-2">
            <h6>Acerca de</h6>
            <ul class="list-unstyled text-small">
                <li style="font-size: 14px"><i class="ti-support"></i><a class="text-muted" href="#"> Soporte</a></li>
                <li style="font-size: 14px"><i class="ti-book"></i><a class="text-muted" href="#"> Términos</a></li>
                <li style="font-size: 14px"><i class="ti-unlock"></i><a class="text-muted" href="#"> Privacidad</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- ============================================================== -->
<!-- FIN FOOTER -->
<!-- ============================================================== -->